<!DOCTYPE html>
<html>
   <head lang="en">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Chatbot</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link href="{{ url_for('static', filename='styles/style.css') }}" type="text/css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<!--tensorflow js -->
  <script src="{{ url_for('static',filename='face-api.js') }}"></script>
    <script src="{{ url_for('static',filename='commons.js') }}"></script>
 <!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.14.1/dist/tf.min.js"></script>

       	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
      	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
      	<link href="{{ url_for('static',filename ='styles/style.css') }}" rel="stylesheet">
      <style type="text/css">

        .fixed-panel {
        min-height: 170px;
        max-height:170px;
        background-color: white;
        color: black;
        overflow: auto;
        }
	.modal-backdrop {
	  z-index: 0;
	}

        .media-list {
        overflow: auto;
        clear: both;
        display: table;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: normal;
        line-break: strict;
        color:black;
        }
        .panel {
        margin-bottom: 20px;
        background-color: white;
        border: 6px solid transparent;
        border-radius: 25px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }
        .panel-info {
        border-color: white;
        }
        .panel-info>.panel-heading {
        color: black;
        background-color: white;
        border-color: #0c2735;
        }
        .panel-footer {
        padding: 10px 15px;
        background-color: white;
        border-top: 1px solid #0c2735;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px
        }

        #demotext {
        color:black;
        text-align:center;

        }
        #container2 {
        margin: 0px auto;
        width: 500px;
        height: 375px;
        border: 10px #333 solid;
        }
        #videoElement {
        width: 105%;
        height: 36%;
        background-color: #666;
        }
    #overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
    background-color: transparent;

}


      </style>
   </head>
   <body>
      <div class="container-fluid background-color:white;">
         <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
               <div class="navbar-header">
                  <a class="navbar-brand" href="#">Interview Bot</a>
               </div>
               <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Welcome</a></li>
                  <li><a></a></li>
<li><button type="button" class="btn btn-success navbar-btn " id="timerText">0:00 sec</button></li>
               </ul>

		<ul class="nav navbar-nav navbar-right">

  			<li><button type="button" class="btn btn-success navbar-btn " id="startInterviewButton">Start Interview</button></li>
			<li><a></a></li>
   			<li><form id="finishForm" action="/generate" method="post">			
			<input type="text" id="iTime" name="iTime" value="hidden value" hidden/>			
			<button type="submit" class="btn btn-danger navbar-btn" id="finishInterviewButton" disabled>
			Finish Interview
			</button>
			</form>
			</li>
			<li><a></a></li>
		</ul>


            </div>
         </nav>
       </div><!--navbarend -->
       <br/><br/><br/>
       <div class="container-fluid">
         <div class="row">
            <!-- video -->
            <div class="container2 col-md-4 ">
		<div  style="position: relative; margin-left:3%;" >
<div class="row">
<div class="col">
       <video onplay="onPlay(this)" id="inputVideo" autoplay muted></video>
</div>
<div class="col">
            <canvas id="overlay" />
</div>
            <!--<canvas id='canvas' />-->
</div>
		</div>
            </div>
	   <!-- interviewer -->
            <div class="container2 col-md-4 panel panel-warning">
		<div class="panel-body">
               		<img src="{{url_for('static', filename='interview-stare.jpg')}}" id="videoElement" />
		</div>
            </div>
	   <!-- chatbot -->
            <div class="col-md-4">
               <div id="chatPanel" class="panel panel-info">
                  <div class="panel-body fixed-panel">
                     <ul class="media-list">
                     </ul>
                  </div>
                  <div class="panel-footer">
                     <form method="post" id="chatbot-form" autocomplete="off">
                        <textarea class="form-control" placeholder="Enter Message" name="messageText" id="messageText" autofocus disabled required/></textarea>

                        <br/>
                        <div class="input-group">
                           <span class="input-group-btn">
                           <button class="btn btn-danger" type="button" id="chatbot-form-btn-clear-input" disabled>Clear input</button>
                           <button class="btn btn-success" type="button" id="chatbot-form-btn" disabled>Submit Your Answer</button>
                           <button class="btn btn-warning" type="button" id="chatbot-form-btn-clear" disabled>Clear</button>
                           <button class="btn btn-info" type="button" id="chatbot-form-btn-voice" disabled>Voice</button>
                           </span>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="row"><!--row-->
            <div class="col-lg-4">
              <div class="panel panel-default">
  		<div class="panel-heading">Sentiment Analysis</div>
  		<div class="panel-body">
			<canvas id="myChart" width="400" height="170"></canvas>
		</div>
		</div>
            </div>
            <div class="col-lg-4">
               <div class="panel panel-default">
  		<div class="panel-heading">Emotion Analyis</div>
  			<div class="panel-body">Panel Content</div>
		</div>
            </div>
            <div class="col-lg-4">
               <div class="panel panel-default">
  		<div class="panel-heading">Text Analysis</div>
  		<div class="panel-body">Panel Content
            <div class="row">
                <label for="time">Time:</label>
                <input disabled value="-" id="time" type="text" class="bold">
            </div>
            <div class="row">
                <label for="fps">Estimated Fps:</label>
                <input disabled value="-" id="fps" type="text" class="bold">
            </div>
</div>
		</div>
            </div>
         </div><!--end row -->



  </div>
     <!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script>
         var exports = {};
      </script>
     <!-- <script src="https://unpkg.com/speech-to-text@0.7.4/lib/index.js"></script>-->
      <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

<script>
let scoreThreshold = 0.5
        let sizeType = '160'
        let modelLoaded = false
        var cImg;
        var constraints = {
            audio: false,
            video: {
                width: 360,
                height: 300
            }
        };
        var EmotionModel;
        var offset_x = 34;
        var offset_y = 20;
        var emotion_labels = ["angry", "disgust", "fear", "happy", "sad", "surprise", "neutral"];
        var emotion_colors = ["#ff0000", "#00a800", "#ff4fc1", "#ffe100", "#306eff", "#ff9d00", "#7c7c7c"];

        let forwardTimes = []

        function updateTimeStats(timeInMs) {
            forwardTimes = [timeInMs].concat(forwardTimes).slice(0, 30)
            const avgTimeInMs = forwardTimes.reduce((total, t) => total + t) / forwardTimes.length
            $('#time').val(`${Math.round(avgTimeInMs)} ms`)
            $('#fps').val(`${faceapi.round(1000 / avgTimeInMs)}`)
        }


async function onPlay(videoEl) {
//check if video is playing or not if not then return no need to process it
            if (videoEl.paused || videoEl.ended || !modelLoaded)
                return false

            const {
                width,
                height
            } = faceapi.getMediaDimensions(videoEl) //get frame dimension
            const canvas = $('#overlay').get(0)    //canvas over video
            canvas.width = width                   //assign height and width to the canvas
            canvas.height = height

            const forwardParams = {
                inputSize: parseInt(sizeType),
                scoreThreshold
            }

            const ts = Date.now()
	//detects face
            const result = await faceapi.detectAllFaces(videoEl, new faceapi.TinyFaceDetectorOptions(forwardParams))
            console.result
            if (result.length != 0) {


                const context = canvas.getContext('2d')
                context.drawImage(videoEl, 0, 0, width, height
) //draw new frame 

                let ctx = context;
                ctx.lineWidth = 4;
                ctx.font = "25px Arial"
                ctx.fillText('Result', 0, 0);

                for (var i = 0; i < result.length; i++) {
                    ctx.beginPath();
                    var item = result[i].box;
                    let s_x = Math.floor(item._x+offset_x);
                    if (item.y<offset_y){
                        var s_y = Math.floor(item._y);
                    }
                    else{
                        var s_y = Math.floor(item._y-offset_y);
                    }
                    let s_w = Math.floor(item._width-offset_x);
                    let s_h = Math.floor(item._height);
                    let cT = ctx.getImageData(s_x, s_y, s_w, s_h);
                    cT = preprocess(cT);

                    z = EmotionModel.predict(cT)
                    let index = z.argMax(1).dataSync()[0]
                    let label = emotion_labels[index];
                    ctx.strokeStyle = emotion_colors[index];
                    ctx.rect(s_x, s_y, s_w, s_h);
                    ctx.stroke();
                    ctx.fillStyle = emotion_colors[index];
                    ctx.fillText(label, s_x, s_y);
                    ctx.closePath();
                }

            }


            updateTimeStats(Date.now() - ts)

       
            setTimeout(() => onPlay(videoEl))
            //var status = document.getElementById('status');
            //status.innerHTML = "Running the model ... ";
        }
        async function loadNetWeights(uri) {
            return new Float32Array(await (await fetch(uri)).arrayBuffer())
        }
        // create model
        async function createModel(path) {
            let model = await tf.loadModel(path)
            return model
        }
        // load emotion model
        async function loadModel(path) {
           
            EmotionModel = await createModel(path)
           
        }

        function preprocess(imgData) {
            return tf.tidy(() => {
                let tensor = tf.fromPixels(imgData).toFloat();
                tensor = tensor.resizeBilinear([100, 100])
                tensor = tf.cast(tensor, 'float32')
                const offset = tf.scalar(255.0);
               const normalized = tensor.div(offset);
                const batched = normalized.expandDims(0)
                return batched
            })
        }
	//success handler for webcam
        function successCallback(stream) {
            var videoEl = $('#inputVideo').get(0)
            videoEl.srcObject = stream;
        }
	//Error handler for webcam
        function errorCallback(error) {
            alert(error)
            console.log("navigator.getUserMedia error: ", error);

        }

        async function run() {
	//loading model
            const Model_url = "{{url_for('static',filename='tiny_face_detector_model-weights_manifest.json')}}"
            await faceapi.loadTinyFaceDetectorModel(Model_url)
            modelLoaded = true

            //var status = document.getElementById('status');
            //status.innerHTML = "Initializing the camera ... ";

	//web video api
            navigator.mediaDevices.getUserMedia(constraints)  //change global constraints for height and width
                .then(successCallback)
                .catch(errorCallback);
        //passing video id
            onPlay($('#inputVideo').get(0))
//hiding loader
           // $('#loader').hide()
        }

	$(function() {
loadModel("{{ url_for('static',filename='model.json') }}")  //https://js.tensorflow.org/api/0.15.3/#loadModel

            const sizeTypeSelect =160
            run()
         	var asked_questions=[];
         	var previousQuestion="";
		var reportData={
		"interviewTime":"0",
		"overallSentiment":""

		}
 		$("#startInterviewButton").click(function(){
    			$("#myModal").modal('toggle');
  		});

		//chartjs context
		var ctx = document.getElementById("myChart").getContext('2d');

		//webcam
/*         	var video = document.querySelector("#videoElement");
         
		 if (navigator.mediaDevices.getUserMedia) {       
		 	navigator.mediaDevices.getUserMedia({video: true}
		 )
		 .then(function(stream) {
		 	video.srcObject = stream;
		 })
		 .catch(function(error) {
		 	console.log("Something went wrong!");
		 });
		 }
*/
		//speech synthesis
		 var synth = window.speechSynthesis;
		 window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
		 const recognition = new SpeechRecognition();
		 recognition.interimResults = true;
		 recognition.lang = 'en-US';
         

         	p=document.getElementById("words");
         	text="";
         	recognition.addEventListener('result', e => {

		 const transcript = Array.from(e.results)
		 .map(result => result[0])
		 .map(result => result.transcript)
		 .join('');
		 const script = transcript; //replace anything here
         
		 $('#messageText').val(script);
		 if (e.results[0].isFinal) {
		 
		 //$('#messageText').val(text);
		 }
		 });
		 recognition.addEventListener('end', recognition.start);
		 recognition.start();
		 var msg = new SpeechSynthesisUtterance();
		 var voices = synth.getVoices();
		 //Tuning
		 msg.voice = voices[7];
		 msg.rate = 1;
		 msg.pitch = 0.9;

         	//Interview finish
		$("#finishInterviewButton").click(function(e){
	 		e.preventDefault();
			$("#finishModal").modal('toggle');
			$('#iTime').val($('#timerText').text());

		});
		//calls for pdf
		$('#finsihModalButton').click(function(e){
			console.log("Clicked");

		console.log($('#timerText').text());
		$('#timerText').hide();
		$('#timerText').prop( "disabled", false );
		$("#finishForm").submit();
		});
		//timer
		$('#timerText').click(function(e){
		var start = new Date;

		setInterval(function() {
    			$('#timerText').text(Math.round((new Date - start) / 1000 )+ " Seconds");
		}, 1000);
		});
		$('#timerText').hide();

		//start Interview action
		$('#continueInterview').click(function(e){
loadModel("{{ url_for('static',filename='model.json') }}")  //https://js.tensorflow.org/api/0.15.3/#loadModel

            const sizeTypeSelect =160
            run()		
//enabling buttons
		$( "#chatbot-form-btn-clear-input" ).prop( "disabled", false );
		$("#chatbot-form-btn").prop( "disabled", false );
		$("#chatbot-form-btn-voice").prop( "disabled", false );
		$("#chatbot-form-btn-clear").prop( "disabled", false );
		$("#finishInterviewButton").prop( "disabled", false );
		$('#startInterviewButton').prop( "disabled", true );
		$('#messageText').prop( "disabled", false );
		$('#timerText').click();
		$('#timerText').show();
		$('#timerText').prop( "disabled", true );
		});
               $('#chatbot-form-btn').click(function(e) {
		         e.preventDefault();
		         $('#chatbot-form').submit();
             	});
		//clear chat history
             	$('#chatbot-form-btn-clear').click(function(e) {
		         e.preventDefault();
		         $('#chatPanel').find('.media-list').html('');
             	});
		//clear input text
             	$('#chatbot-form-btn-clear-input').click(function(e){
                     	$('#messageText').val('');
         	});
		//voice button interaction
             	$('#chatbot-form-btn-voice').click(function(e) {
                 	e.preventDefault();
         		console.log("clicked");

                 	var onAnythingSaid = function (text) {
                     		console.log('Interim text: ', text);
                	};

		         var onFinalised = function (text) {
		             console.log('Finalised text: ', text);
		             $('#messageText').val(text);
		         };
		         var onFinishedListening = function () {
		             // $('#chatbot-form-btn').click();
		         };
         
		         try {
		             var listener = new SpeechToText(onAnythingSaid, onFinalised, onFinishedListening);
		             listener.startListening();
		 
		             setTimeout(function () {
		                 listener.stopListening();
		                 if ($('#messageText').val()) {
		                     $('#chatbot-form-btn').click();
		                 }
		             }, 5000);
		         } catch (error) {
		             console.log(error);
		         }
            });//end voice button
         
	//on submit button
             $('#chatbot-form').submit(function(e) {
              		e.preventDefault();
                 	var message = $('#messageText').val().toUpperCase();
         
         		var message_validation=message.split(" ");
	//begin if
         		if(message_validation.length>10||(message.indexOf("MY NAME IS") !=-1)||(message.indexOf("START INTERVIEW")!=-1)||(message.indexOf("NEXT QUESTION")!=-1)||(message.indexOf("ASK QUESTION")!=-1))
			{
         			$(".media-list").append('<li class="media"><div class="media-body"><div class="media"><div style = "text-align:right; color : black" class="media-body">' + message + '<hr/></div></div></div></li>');
				console.log($('input[type=hidden]').val("Newly setted")+" "+$('input[type=hidden]').val());
 				//ajax for chatbot
                 		$.ajax({
				     	type: "POST",
				     	url: "/ask",
				     	data: $(this).serialize(),
                     			success: function(response) {
		                 		$('#messageText').val('');
		                 		var answer = response.answer.toUpperCase();
		 		 		previousQuestion=answer;
				 		console.log(answer);
				 		if(answer==""){
				 			console.log("Already asked");
				 			$('#messageText').val('ASK QUESTION');
				 			e.preventDefault();
				 			$('#chatbot-form').submit();
				 	}//end success
				 	const chatPanel = document.getElementById("chatPanel");
					$(".media-list").append('<li class="media"><div class="media-body"><div class="media"><div style = "color : red" class="media-body">' + answer + '<hr/></div></div></div></li>');
					$(".fixed-panel").stop().animate({ scrollTop: $(".fixed-panel")[0].scrollHeight}, 1000);
				 	msg.text="";
				 	msg.text = answer;
				 	speechSynthesis.speak(msg);
				},
                     			error: function(error) {
                         			console.log(error);
                     			}
                 		});//end ajax
         		}else{ //end if start else
         
         			$(".media-list").append('<li class="media"><div class="media-body"><div class="media"><div style = "color : red" class="media-body">' + 'Please give detailed answer ' + '<hr/></div></div></div></li>');
         			$(".media-list").append('<li class="media"><div class="media-body"><div class="media"><div style = "color : red" class="media-body">' + previousQuestion + '<hr/></div></div></div></li>');
         			var answer="Please provide a detailed answer to the question. This is very important";
         			msg.text="";
         			var answer_check=previousQuestion.split("\.");
         			msg.text=answer+". \n"+answer_check.pop(); 
         			speechSynthesis.speak(msg);

         		} 

		//Sentiment request    
		 $.ajax({
			    type: "POST",
			    url: "/sentiment",
			    data: $(this).serialize(),
			    success: function(response) {

				var positive=response.sentiment_positive;
				var negative=response.sentiment_negative;
				var neutral=response.sentiment_neutral;
				console.log(positive,negative,neutral);
				new Chart($("#myChart"), {
					    type: 'horizontalBar',
					    data: {
					      labels: ["Positive", "Negative", "Neutral"],
					      datasets: [
						{
						  label: "Sentiment in terms of %",
						  backgroundColor: ["#03c637","#f4424b","#8e5ea2"],
						  data: [positive,-1*negative,neutral]
						}
					      ]
					    },
					    options: {
					      legend: { display: false },
					      title: {
						display: true,
						text: 'Sentiment Analysis : Overall Sentiment '+response.overall_sentiment
					      }
					    }
					});//end chart
				 
			    },//end success
			    error: function(error) {
				console.log("Not working"+error);
			    }//end error
			});//end sentiment ajax
		});


			 
});//end onload
      </script>

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="instruction_heading">Start Interview - Instructions</h4>
        </div>
        <div class="modal-body"  id="instruction_body">
	<h3>Welcome to Interview Bot</h3>
	<h5> Interviews required practise and this project aims to prepare you for the same.</h5>
	<div style="color:green">
	<ul>
	<li>The Left side of the screen panel have your live stream</li>
	<li>The Center side of the screen is the interviewer</li>
	<li>The Righ side of the screen have the chatbot which will take your interview</li>
	<li>The Bottom of the screen have the various analysis which are done your reponse to the question</li>
	</ul>
	</div>
        <p>Before starting the interview, please read the following instructions</p>
	<ul>
	<li>To begin interview speak "<b><span style="color:red">START INTERVIEW</span></b>"</li>
	<li>After speaking your answer click on the <b>SEND</b> button</li>
	<li>If the bot continously asks the same question or you want to skip the question, then speak "<b><span style="color:red">NEXT QUESTION</span></b>"</li>
	</ul>


        </div>
        <div class="modal-footer">
<p style="color:green">All the best !!</p>
          <button type="button" class="btn btn-info" data-dismiss="modal" id="continueInterview">Continue</button>
        </div>
      </div>
      
    </div>
  </div>
<!-- end modal -->

<!-- Modal -->
  <div class="modal fade" id="finishModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="instruction_heading">Start Interview - Instructions</h4>
        </div>
        <div class="modal-body"  id="instruction_body">
	<h3>Are you sure you want to finish the interview?</h3>
	
	</ul>


        </div>
        <div class="modal-footer">
<p style="color:green">Finish Interview</p>
          <button type="button" class="btn btn-warning" data-dismiss="modal" id="finsihModalButton">Finish</button>
        </div>
      </div>
      
    </div>
  </div>
<!-- end modal -->
   </body>
</html>
