{% extends "layout.html"%}
{% block body %}
<div class="container-fluid">

<div class="card text-center">
<div class="card-header">
Prepare for your interviews
</div>
<div class="card-body">
<h5 class="card-title">Interview Bot - A chat bot based approach for interview preparation</h5>
<p class="card-text">Practise your interviews with the help of AI.</p>
<a href="/chatbot" class="btn btn-success">Start Interview</a>
</div>
</div>
<br/>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">How to write your resume for interviews</h5>
        <p class="card-text">Learn how to make a good resume</p>
        <a href="#" class="btn btn-danger">Checkout Resume Guide</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">How to prepare for technical interview</h5>
        <p class="card-text">Learn and understand how and what to prepare for technical interviews.</p>
        <a href="#" class="btn btn-danger">Technical Interview Guide</a>
      </div>
    </div>
  </div>
 <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Interview Tips</h5>
        <p class="card-text">Get Interview Tips</p>
        <a href="#" class="btn btn-danger">Interview Tips</a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
