<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap4.min.js') }}"></script> 
<link href="{{ url_for('static',filename ='styles/bootstrap4.min.css') }}" rel="stylesheet">
<style>
.fixed-bottom{
border:solid 1px #4a148c;
color:#4a148c;
font-style:bold;
}
</style>
<title></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4a148c;">
  <a class="navbar-brand" href="/"><b>Interview Bot</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto ">
	{% if session.log %}
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
	{% endif %} 
    </ul>
    <ul class="nav navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/ppt"><b>How it works?</b></a>
      </li>
	{% if not session.log %}

      <li class="nav-item">
        <a class="nav-link" href="/register"><b>Register</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login"><b>Login</b></a>
      </li>


	{% else %}

      <li class="nav-item">
        <a class="nav-link" href="/chatbot">Mock Interview</a>
      </li>       
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>     

	{% endif %} 
 	<li class="nav-item p-2">
        <a class="nav-link" href=""></a>
      	</li>
 	<li class="nav-item">
        <a class="nav-link" href=""></a>
      	</li>
 	<li class="nav-item">
        <a class="nav-link" href=""></a>
      	</li> 	<li class="nav-item">
        <a class="nav-link" href=""></a>
      	</li> 	<li class="nav-item">
        <a class="nav-link" href=""></a>
      	</li>
    </ul>
   
  </div>
</nav>
<br/>
{% include  "includes/_message.html" %}
{% block body%}
{% endblock %}

<footer  class="fixed-bottom font-weight-bold text-center" style="background-color:#4a148c; color:white;">
Interview Bot 
</footer>
</body>
</html>
