{% extends "layout.html"%}
{% block body %}

<div class="container-fluid">
<h3 class="text-center">Features</h3>
<div class="row">
<div class="col">
  <div class="card">

  <div class="card-body">
    <h5 class="card-title">Chatbot Interaction</h5>
    <p class="card-text">The Mock interview is conducted by the chatbot. The chatbot is AIML based (i.e it is a rule based chatbot) have more than 70 unique questions </p>

  </div>
</div>

</div> <!-- end col -->

<div class="col">
<div class="card">
<div class="card-body">
<h5 class="card-title">Voice to Voice Interface</h5>
<p class="card-text">Your interview skills will improve with practise. Voice Interface allows the user to practise this. For speech synthesis , web speech api is utilized which is only available on google chrome and mozilla with limited functionality.</p>
</div>
</div>

</div> <!-- end col -->
<div class="col">
  <div class="card">

  <div class="card-body">
    <h5 class="card-title">Realtime Emotion Analysis</h5>
    <p class="card-text">Emotion Analysis is done using deep learning. MobileNet is utilized to train the model with images over 7 categories of different emotions.</p>

  </div>
</div>

</div> <!-- end col -->
<div class="col">
  <div class="card">

  <div class="card-body">
    <h5 class="card-title">Sentiment Analysis</h5>
    <p class="card-text">Sentiment analysis is done using nltk</p>

  </div>
</div>

</div> <!-- end col -->
</div> <!-- end row -->
<br/>
<br/>
<div class="row">
<div class="col">
  <div class="card">

  <div class="card-body">
    <h5 class="card-title">Text Analysis</h5>
    <p class="card-text">Provides insights of the repeated words and frequency.</p>

  </div>
</div>

</div> <!-- end col -->

<div class="col">
  <div class="card">

  <div class="card-body">
    <h5 class="card-title">Data Visualization</h5>
    <p class="card-text">The data is visualized using chartJS</p>

  </div>
</div>


</div> <!-- end col -->
<div class="col">
  <div class="card">

  <div class="card-body">
    <h5 class="card-title">Report Generation</h5>
    <p class="card-text">At the end of the interview a report is generateed for the students</p>

  </div>
</div>

</div> <!-- end col -->
<div class="col">
  <div class="card">

  <div class="card-body">
    <h5 class="card-title">Client side emotion detection</h5>
    <p class="card-text">The neural network is running on the browser instead of the server.</p>

  </div>
</div>

</div> <!-- end col -->
</div> <!-- end row -->
</div> <!--container-->
{% endblock %}
